  <div class="container">
    <div class="row justify-content-between">
      <div class="col copyright-info">
        &copy;{{"now"|date('Y')}} Eiren Caffall
      </div>
      <div class="col">
        {% include "footer-menu.twig" with {'items': footer_menu.get_items} %}
      </div>
      <div class="col ms-auto social-list-block">
        <ul class="social-list d-flex justify-content-end">
          <li class="social-list-item">
            <a href="https://eirencaffall.bandcamp.com" target="_blank" class="social-list-item-link" rel="external" title="bandcamp link">
              <i class="fa fa-bandcamp"></i>
            </a>
          </li>
          <li class="social-list-item">
            <a href="https://www.instagram.com/eirencaffall/" target="_blank" class="social-list-item-link" rel="external" title="instagram link">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="social-list-item">
            <a href="https://twitter.com/eirencaffall" target="_blank" class="social-list-item-link" rel="external" title="twitter link">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li class="social-list-item">
            <a href="https://www.facebook.com/Eiren-Caffall-157675377624681/" target="_blank" class="social-list-item-link" rel="external"  title="facebook link">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      {{ function('dynamic_sidebar', 'sidebar-footer') }}
    </div>
  </div>