{% extends "base.twig" %}
{% block content %}
	<div class="page-body">
		<div class="page-thumbnail px-4">
			<img src="{{ post.thumbnail.src('large') }}" class="img-fluid">
		</div>
		<div class="page-content">
			{{post.content}}
		</div>
	</div>
{% endblock %}