.footer {
  padding: 1rem;
  background-color: rgba($dark-gray, 0.75);

  .row {
    padding: 0 1rem;
  }
}

.social-list-block {
  .social-list {
    list-style: none;
    margin: 0;

    .social-list-item {
      margin-right: 1.25rem;

      .social-list-item-link {
        color: $whitish;

        &:hover,
        :active {
          color: darken($whitish, 15%);
        }
      }
    }
  }
}
